{extends 'layout.latte'}

{block title}Pridať materiál k položke protokolu {$polozka['nazov']}{/block}

{*rezervácia, položka rotokolu, typ opravy, spotreba materialu, skladova karta*}
{block body}
    <div class="container">
        <br>
        <h1>{include title}</h1>


    </div>


{/block}