{extends 'layout.latte'}

{block title}Uvod{/block}

{block body}
    <br>
    <div class="container">

        <h1>{include title}</h1>

        {if empty($_SESSION['user'])}
            <p>Vítejte v informačním systému pro autoservis, pro pokračování se přihlašte.</p>
        {/if}

    </div>

{/block}