<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{include title}</title>
    <link rel="stylesheet" href="{$basePath}/css/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{$basePath}/css/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="{$basePath}/css/custom.css">
    <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>
    <script type="text/javascript" src="{$basePath}/css/bootstrap/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {ifset meta}{include meta}{/ifset}
</head>
<body>
<!-- menu -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="{link home}">SWI2</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="{link home}">
                    Uvod
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link reservations}">
                    Rezevacie
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{link protocols}">
                    Protokoly
                </a>
            </li>
            {if !empty($_SESSION['user'])}
                    {if ($_SESSION['user']['pozicia'] = 1)}
                         <li class="nav-item">
                             <a class="nav-link" href="{link create-user}">
                                 <span class="fa fa-sign-out-alt"></span>
                                 Vytvorit novy
                             </a>
                         </li>
                    {/if}
                <li class="nav-item">
                    <a class="nav-link" href="{link logout}">
                        <span class="fa fa-sign-out-alt"></span>
                        Odhlasit {$_SESSION['user']['email']}
                    </a>
                </li>
            {else}
                <li class="nav-item">
                    <a class="nav-link" href="{link login}">
                        <span class="fa fa-sign-in-alt"></span>
                        Prihlasit
                    </a>
                </li>
            {/if}

        </ul>
    </div>
</nav>

<!-- chyba, pokud je -->
{if !empty($error)}
    <div class="container mt-4">
        <div class="alert alert-danger">
            {$error}
        </div>
    </div>
{/if}

<!-- vlastni obsah -->
{include body}

</body>
</html>