{extends layout.latte}

{block title}TITLE OF PAGE{/block}

{block body}
    <table>
        <tr><th>Jmeno</th><th>Prijmeni</th></tr>
        {foreach $osoby as $o}
            <tr>
                <td>{$o['first_name']}</td>
                <td>{$o['last_name']}</td>
                <td>{$o['nickanme']}</td>
                <td>{$o['gender'}</td>
            </tr>
        {/foreach}
    </table>
{/block}